<!DOCTYPE html>
<html lang="{{ lang }}" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
        {% block head %}
            <meta charset="utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="description" content="{{ "meta_description"|translate(lang) }}" />
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="icon" type=image/svg+xml href="/assets/img/Logo.svg">
            <link rel="shortcut icon" href="#">
            <link rel="stylesheet" href="/assets/css/base.css" />
            <link rel="stylesheet" href="/assets/css/nav.css" />
            <link rel="stylesheet" href="/assets/css/footer.css" />
            <link rel="stylesheet" href="/assets/css/index.css" />
            <link rel="stylesheet" href="/assets/css/pages.css" />
            <link rel="stylesheet" href="/assets/css/box.css"/>
            <link rel="stylesheet" href="/assets/css/footer-pages.css"/>
            <!-- <link rel="stylesheet" href="/assets/css/contact.css"/> -->
            <title>{%block title%}{%endblock%} | Cyberpreneur</title>
        {% endblock %}
    </head>
    <body>
        <div class="wrapper">
            <div id="nav">
                {% include "nav.html" %}
            </div>
            <div id="content">
                {% block content %}{% endblock %}
            </div>
            <div id="footer">
                {% include "footer.html" %}
            </div>
        </div>
    </body>
</html>
