{% extends "base.html" %}
{% block title %}Contact{%endblock%}
{% block content %}
<div class="contact_container">
	<h1>Contact</h1>
	<form id="contact_form" action="/contact/mail" method="POST">
		<label id="l1"for="input_mail">Email</label>
			<input class="form_input"id="input_mail"type="email" name="mail">
			<label id="l2" for="input_subject">Subject</label>
			<input class="form_input" id="input_subject" type="text" name="subject">
			<label id="l3" for="input_message">Question/Comment</label>
			<textarea id="input_message" type="text" name="comment"></textarea>
			<input id="mail_submit"type="submit" value="Submit">
	</form>
</div>
{% endblock %}
