{% extends "base.html" %}
{% block title %}Virtual Farming{%endblock%}

{%block content%}
<div class ="container">
    <div class ="content_container" id="adjust_padding">
        <img src="/assets/img/3d_greenhouse.webp ">
        <h1 id="small_centered">Cyberpreneur</h1>
        <p>Wir wollen, dass alle unsere Kunden zum Unternehmer im Cyberspace werden. 
            Die Roboterspinnen gehen in den Besitz von den Cyberpreneuren, um ihre Pflanzen für sie anzubauen.
            Wir kümmern uns um Administration sowie die schrittweise Vereinfachung und Beseitigung dieser.
            Wie in einem Spiel können die Cyberpreneure rund um die Uhr ihre Pflanzen sehen und mit einer der Spinnen kommunizieren.
        </p>
    </div>
    <div class ="content_container">
        <img src="/assets/img/hemp_field_greded.webp">
        <h1>Progress</h1>
        <p>Wir nutzen Photogrammetrie um unser Gewächshaus in in die virtuelle Realität zu bringen.
            Auf dieser Website wird für registrierte Cyberpreneure ein von der Spinne produziertes, virtuelles, dreidimensionales und interaktives Abbild unseres Gewächshauses regelmäßig upgedatet.
             Kunden können ihre Pflanzen rund um die Uhr sehen und Wünsche äussern, die später von der Spinne angenommen und beantwortet werden.
             Cyberpreneure können, wie in einem Spiel, ihre Pflanzen in allen Wachsumsphasen sehen, selbst eingreifen und letztendlich bestimmen wann die Blüten geerntet werden, wie sie verarbeitet werden.

         </p>
    </div>
</div>

{% endblock %}