{% extends "index.html" %}

<!-- load into index template -->
{% block child %}
<div class="mobile_placeholder">
    <form action="/" method="get">
        <input type="submit" class="close_box">
            <svg class="close" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9"></path>
            </svg>
        </form>
    <div class="open">
        {# Test Content - add language handling json#}
        <div class="box">
        </div>
        <div class="content" id="larger">
            <h2 id="small">Green Energy</h2>
            <h3>Beyond Zero Waste</h3>
            <p>
                Currently in the conceptual phase, our visionary software aims to redefine eco-living by aligning home energy solutions with local environmental conditions. 
                We're exploring cutting-edge technologies to harness green energy sorces adapting to environmental shifts for zero-waste efficiency. 
               Paired with a synergistic garden robot and energy-trading platforms, this represents an untapped opportunity to pioneer adaptive, sustainable technology.
            </p>
            <a href="/info/energy">MORE</a>
        </div>
    </div>

</div>
{% endblock%}
