{% extends "index.html" %}

<!-- load into index template -->
{% block child %}
<div class="mobile_placeholder">
    <form action="/" method="get">
        <input type="submit" class="close_box">
            <svg class="close" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9"></path>
            </svg>
        </form>
    <div class="open">
        {# Test Content - add language handling json#}
        <div class="box">
        </div>
        <div class="content" id="larger">
            <h2 id="small">Green Machine</h2>
            <h3>Responsive Sustainable Houses</h3>
            <p>
                Introducing a transformative vision for self-sufficient living: our eco-homes harness renewable energy and waste recycling, achieving off-grid autonomy. 
                These easily replicable units utilize excess solar power for cryptocurrency transactions.
                This model not only promotes energy independence but also creates a new income stream through smart exchange, embodying the future of sustainable, decentralized living and investment.
            </p>
            <a href="/greenmachine">MORE</a>
        </div>
    </div>

</div>
{% endblock%}
