{% extends "base.html" %}
{% block title %}Cannabinieri{%endblock%}

{%block content%}
<div class ="container">
    <div class ="content_container">
        <img id="weed" src="/assets/img/flower_square.webp">
        <h1 id="small_centered">Cannabinieri</h1>
        <p>Unsere Mission ist konsequent biologisch anzubauen und mit Hilfe von Technik mehr über sie zu lernen.<br>
        All unsere Produkte sind Experimente, die Wechselwirkungen in unserem Ökosystem erforschen.
       Unsere Partnerpflanzen sind unsere Dünger. Insekten sind unsere Helfer gegen Schädlinge.
        <br>Entdecke unser erstes Experiment !</p>
    </div>
    <div class ="content_container" id="withbutton">
        <img src="/assets/img/oil_drop.webp">
        <h1><span>CBD </span>Oil</h1>
        <p id="up">Unsere CBD Pflanzen verarbeiten wir selbst zu Vollspektrum Ölen.
         Unsere ersten Öle gewinnen wir durch Extraktion mit Trinkalkohol und natürlich ohne artifizielle Zusätze.
        Wir experimentieren mit verschiedenen Trägerölen und Konzentrationen. 
        <br>Unsere Vollspektrum Öle stellen wir aus europäisch zertifiziertem Nutzhanf her, deren THC Gehalt 0.2 Prozent nicht überschreitet.
        All unsere Öle kommen mit einem Analyse Zertifikat, das genaue Auskunft über die Menge verschiedener Cannabinoide gibt. Auch auf gängige Pestizide werden wir testen, solange wir noch keine 24 Stunden live Übertragung aller Schritte leisten können.<br>
        </p>
        <a href="hemp/oil">Donate</a>
    </div>
    <div class ="content_container" id="withbutton">
        <img src="/assets/img/Canna17.webp ">
        <h1 id="tiny">Cyber Transparency</h1>
        <p>Unsere Ziel ist es, unsere Experimente auch in Form von Blüten anzubieten. Der Verkauf und die Einfuhr von Nutzhanf Blüten ist für uns und viele andere kleine Firmen, die ins CBD Business einsteigen wollen, ohne rechtliche Absicherung zu riskant.
            Hier findest du mehr zu unseren Nutzhanf Blüten, aus denen wir auch unsere Öle herstellen. </p>
        <a href="/cyberpreneur">Mehr</a>
    </div>
</div>
{%endblock content%}