<header class="header">
    <div class="logo">
        <a href="/"><img src="/assets/img/Logo.png"/></a>
    </div>

    <div class="navigation">

        <input type="checkbox" class="toggle_menu">
        <div class="hamburger"></div>

        <ul class ="menu">
            <li>
				<input class="dropdown" id="one" type="checkbox">
				<a class="top">Waspwork</a>
				<ul class="down">
					<li><a class="sub_1" href="/waspwork">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/waspwork">Timeline</a>
					</li>
				</ul>
			</li>
            <li>
				<input class="dropdown" id="two" type="checkbox">
				<a class="top">Cyberpreneur</a>
				<ul class="down">
					<li><a class="sub_1" href="/cyberpreneur">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/cyberpreneur">Timeline</a>
					</li>
				</ul>
			</li>
            <li>
				<input class="dropdown" id="three" type="checkbox">
				<a class="top">Tekla</a>
			<ul class="down">
				<li><a class="sub_1" href="/tekla">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/tekla">Timeline</a>
					</li>
				</ul>
			</li>
            <li>
				<input class="dropdown" id="four" type="checkbox">
				<a class="top">Kaos Cube</a>
			<ul class="down">
				<li><a class="sub_1" href="/kaoscube">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/kaos-cube">Timeline</a>
					</li>
				</ul>
			</li>
            <li>
				<input class="dropdown" id="four" type="checkbox">
					<a class="top">Green Machine</a>
				<ul class="down">
					<li><a class="sub_1" href="/greenmachine">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/green-machine">Timeline</a>
					</li>
				</ul>
			</li>
            <li>
				<input class="dropdown" id="four" type="checkbox">
				<a class="top">Solar Miner</a>
				<ul class="down">
					<li><a class="sub_1" href="/info/solar-miner">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/solar-miner">Timeline</a>
					</li>
				</ul>
			</li>

            <li>
				<input class="dropdown" id="four" type="checkbox">
				<a class="top">Green Energy</a>
				<ul class="down">
					<li><a class="sub_1" href="/info/energy">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/energy">Timeline</a>
					</li>
				</ul>
			</li>

            <li>
				<input class="dropdown" id="four" type="checkbox">
				<a class="top" style= "color: hsl(150,69%,75%);">CBD</a>
				<ul class="down">
					<li><a class="sub_1" href="/cbd">Info</a>
					</li>
					<li><a class="sub_2" href="/timeline/cbd">Timeline</a>
					</li>
				</ul>
			</li>
        </ul>
    </div>
</header>
