{% extends "base.html" %}
{% block title %}Green Machine{%endblock%}
{% block content %}
<div class ="container">
  <div class ="content_container">
      <img src="/assets/img/bootA.webp">
      <h1>Off-Grid</h1>
      <p id="up">Wir möchten unabhängige und nachhaltige Systeme kreieren. In denen ein Leben komplett ohne den Anschluss an zentralisierte Versorgungsysteme möglich ist.
          Mit erneuerbaren Energien, Recycling von Müll und Wissen der rechtlichen Fallen ist das möglich. 

      </p>
  </div>
  <div class ="content_container">
      <img src="/assets/img/sketch.webp">
      <h1 id="smaller_text"><span>Green </span>Machine</h1>
      <p id="up">
      Eine Maschine nutzt Energie um Arbeiten zu verrichten. Unsere Wohnmaschinen nutzen erneuerbare Energien um Strom bereitzustellen.
      Bauteile der Maschinen sind Materialien, die in großer Anzahl verfügbar sind. Materialien die ohne - oder für wenig Geld zu haben sind.
      Durch die Verwendung bauen wir lebendige, unabhängige  und individuelle Maschinen, die einfach nachzubauen und zu warten sind.
       </p>
  </div>
  <div class ="content_container">
      <img src="/assets/img/solar.webp">
      <h1 id="smaller_text">Solar Miner</h1>
      <p id="up"> Jede Solaranlage hat Probleme mit der Überproduktion von Strom. Sobald die Recycling Stromspeicher voll sind, geht Energie verloren. Diese Energie nutzen wir zum verifizieren von Transaktionen. Transaktionen von Krypto Währungen. Dabei sehen wir vor allem Monero und Etherium als nützlich an. Etherium Token sind einfach zu Coden. ETH Token als Bestandteil des KaosCubes um mit Contracts den automatischen Tausch von Währung gegen Bandbreite zu gewährleisten. Auch der geringe Ressourcen Verbrauch durch Proof of Stake ist dabei ein Argument für diese Währung.
          Monero wird die Grundlage eines sicheren Transaktionssystems innerhalb der Kooperativen. Zusätzlich ist der Mining Algorithmus von Monero so aufgebaut, dass er Unrentabilität für große Mining Farmen verspricht.
      </p>
  </div>
</div>
{% endblock %}