{% extends "base.html" %}
{% block title %}Submit{%endblock%}

{% block content %}
<div id="back_home_container">
	<div id="contents_container">
		<h1>We've received your message. <br> We'll get in touch soon :)</h1>
		<a href="/contact">
			<svg class="arrow" stroke="#000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path></svg>
		</a>
				<a href="/">Back home</a>
	</div>
</div>
{% endblock %}
