{% extends "index.html" %}

<!-- load into index template -->
{% block child %}
<div class="mobile_placeholder">
    <form action="/" method="get">
        <input type="submit" class="close_box">
            <svg class="close" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9"></path>
            </svg>
        </form>
    <div class="open">
        <div class="content">
            <h2>Tekla</h2>
            <h3>Bio-Inspired Robot for Automated Biodynamic Gardening</h3>
            <p>Tekla designs self-sustainable gardens emulating nature's strategies.
			Use the mobile hexapod to effortlessly create biodynamic gardens anywhere.
                The low-tech robot interfaces with the Waspwork app and learns how to grow in sync with nature.
            </p>
            <a href="/tekla">GO</a>
        </div>
    </div>

</div>
{% endblock%}
