{% extends "index.html" %}

<!-- load into index template -->
{% block child %}
<div class="mobile_placeholder">
    <form action="/" method="get">
        <input type="submit" class="close_box">
            <svg class="close" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9"></path>
            </svg>
        </form>
    <div class="open">
        {# Test Content - add language handling json#}
        <div class="box">
        </div>
        <div class="content">
            <h2 id="small">Cyberpreneur</h2>
            <h3>P2P network for remote farming and trading greens</h3>
            <p>Design and monitor gardens remotely and share outputs locally. 
               The P2P Cyberpreneur network connects Tekla robots and provides a platform for exchanging goods with 100% transparency.
			   Tekla owners trade and certify their goods themselves and therefore become entrepreneurs revolutionalizing agronomics.
            </p>
            <a href="/cyberpreneur">GO</a>
        </div>
    </div>

</div>
{% endblock%}
